{% include 'pages/header.html' %}

<main>
    <div class="container">
        <div class="titulo">
            <h2>INTRODUÇÃO</h2>
            <hr/>
        </div>
        <div class="conteudo-container">
            <div class="texto">
                <p>Bem-vindo ao PATS: Atlas Interativo de Histopatologia Maxilofacial!</p>
                <p>O PATS é mais do que um simples atlas de histopatologia; é uma ferramenta inovadora projetada para transformar o aprendizado da histopatologia maxilofacial. Desenvolvido com o objetivo de facilitar o estudo e a compreensão das lâminas histopatológicas, 
                    nosso site oferece uma experiência interativa e educativa para estudantes de Odontologia e profissionais da área.</p>
                <p>Aqui no PATS, você encontrará uma vasta coleção de patologias maxilofaciais organizadas em grandes grupos para uma navegação simplificada. Cada patologia é apresentada com uma descrição clara e objetiva da histopatologia, acompanhada de fotomicrografias 
                    detalhadas em diferentes aumentos. Ao interagir com as imagens, as estruturas relevantes são destacadas em cores distintas, e legendas informativas fornecem explicações adicionais sobre cada elemento visualizado.</p>
                <p>Nosso objetivo é tornar o estudo mais acessível e envolvente, promovendo a democratização do conhecimento e dinamizando o ensino de uma maneira moderna e eficiente. Com o PATS, você terá à disposição uma ferramenta para aprimorar sua compreensão 
                    e análise das complexas características das lâminas histopatológicas.</p>
                <p>Explore, aprenda e descubra com o PATS!</p>
            </div > 
            <div class="imagem">
                <img src="images/micrografia.jpg" alt="Imagem de microscópio">
            </div>
        </div>
    </div>

    <div class="container flex-center">
        <a href="{{ url_for('categorias') }}" class="button-patologias">Patologias</a>
    </div>

    <div class="container">
        <div class="titulo">
            <h2>QUEM SOMOS</h2>
            <hr/>
        </div>
        <div class="conteudo-container">
            <div class="texto">
                <p>O PATS é fruto do trabalho colaborativo e da dedicação de um grupo de estudantes e profissionais comprometidos com a educação e a inovação, e surgiu da nossa própria necessidade de ter uma ferramenta como essa para nossos estudos.</p>
                <p>Somos um time interdisciplinar composto por estudantes da Universidade Federal de Juiz de Fora (UFJF), dos cursos de 
                    Odontologia e Sistemas de Informação. Sob a orientação da professora do Núcleo de Patologia Maxilofacial da Faculdade de Odontologia da UFJF, nossa equipe se empenhou na criação desta plataforma para oferecer uma solução moderna e interativa no ensino da 
                    histopatologia maxilofacial.</p>
                <p>Nossa combinação única de expertise nas áreas de Odontologia e Tecnologia da Informação nos permite unir conhecimentos e criar uma ferramenta que atende às necessidades acadêmicas dos estudantes e profissionais da área. Com a orientação e o apoio da nossa 
                    professora, desenvolvemos o PATS para ser mais do que um recurso educacional, mas uma ponte para um aprendizado mais profundo e acessível.</p>
                <p>Agradecemos pelo seu interesse no PATS e esperamos que nossa plataforma contribua significativamente para o seu sucesso acadêmico e profissional.</p>
            </div>
            <div class="imagem">
                <img src="images/odonto-ufjf.jpg" alt="Imagem da universidade">
            </div>
        </div>
    </div>

    <div id="integrantes" class="container">
        <div class="titulo">
            <h2>INTEGRANTES</h2>
            <hr/>
        </div>
        <div class="container">
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Odontologia</p>
                </div>
            </div>
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Odontologia</p>
                </div>
            </div>
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Sistemas de informação</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'pages/js_imports.html'%}

{% include 'pages/footer.html' %}
