{% include 'pages/header.html' %}

<main>
    <div class="container">
        <div class="titulo">
            <h2>INTRODUÇÃO</h2>
            <hr/>
        </div>
        <div class="conteudo-container">
            <div class="texto">
                <p>Seja bem-vindo ao nosso portal dedicado à compreensão das patologias bucais, uma fonte de conhecimento projetada para oferecer insights abrangentes sobre as condições orais.</p>
                <p>Navegue por um ambiente educacional único, onde profissionais da saúde e entusiastas da odontologia podem explorar o fascinante mundo das patologias bucais.</p>
                <p>Apresentamos lâminas detalhadas e radiografias, proporcionando uma visão microscópica e revelando nuances ocultas das condições orais.</p>
                <p>Capacitamos nossos visitantes com informações sobre causas, sintomas e opções de tratamento, promovendo uma abordagem consciente para a saúde bucal.</p>
                <p>Convidamos você a embarcar nesta jornada conosco, onde a beleza da odontologia se encontra com o conhecimento científico, promovendo uma compreensão mais profunda das patologias bucais.</p>
                <p>Explore conosco e descubra como a busca pelo conhecimento se alinha ao compromisso com a saúde oral.</p>
            </div   > 
            <div class="imagem">
                <img src="images/micrografia.jpg" alt="Imagem de microscópio">
            </div>
        </div>
    </div>

    <div class="container flex-center">
        <a href="{{ url_for('categorias') }}" class="button-patologias">Patologias</a>
    </div>

    <div class="container">
        <div class="titulo">
            <h2>QUEM SOMOS</h2>
            <hr/>
        </div>
        <div class="conteudo-container">
            <div class="texto">
                <p>Somos um grupo de estudantes apaixonados pela jornada acadêmica na Universidade Federal de Juiz de Fora (UFJF), onde o conhecimento é nossa bússola e a excelência, nosso destino.</p>
                <p>Guiados pelo compromisso com a aprendizagem e a busca incessante por aprimoramento, estamos unidos por laços que vão além das salas de aula. Em nosso núcleo, a diversidade de experiências e perspectivas enriquece nossa trajetória, moldando-nos como indivíduos dedicados a contribuir para um futuro mais brilhante.</p>
                <p>Valorizamos não apenas o rigor acadêmico, mas também o espírito colaborativo que permeia nossa comunidade estudantil. Cada aluno na UFJF é parte essencial do mosaico que compõe nossa identidade coletiva.</p>
                <p>Alimentamos sonhos, encaramos desafios e celebramos conquistas. Somos a expressão viva do potencial transformador da educação, cientes de que, ao aprendermos juntos, construímos alicerces sólidos para um amanhã mais promissor.</p>
                <p>Descubra conosco o orgulho de ser um estudante da UFJF, onde o saber se entrelaça com o espírito inovador, formando os líderes do amanhã.</p>
            </div>
            <div class="imagem">
                <img src="images/odonto-ufjf.jpg" alt="Imagem da universidade">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="titulo">
            <h2>INTEGRANTES</h2>
            <hr/>
        </div>
        <div class="container">
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Odontologia</p>
                </div>
            </div>
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Odontologia</p>
                </div>
            </div>
            <div class="integrante">
                <div class="imagem">
                    <img src="images/user-image.jpg" alt="Imagem do integrante">
                </div>
                <div class="texto">
                    <h4>Aluno UFJF</h4>
                    <p>Graduando em Sistemas de informação</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'pages/js_imports.html'%}

{% include 'pages/footer.html' %}
