/* --- HEADER --- */
header {
    width: 100%;
    height: 110px;
    flex-shrink: 0;
    background-color: #3F2065;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

header .logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 900;
}

header .menu {
    width: 100%;
    height: 100%;
    display: flex;
}

header .menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

header .menu ul li {
    list-style: none;
    margin: 0 20px;
}

header .menu ul li:last-child {
    margin-right: 0;
}

header .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* smartphone*/
@media (max-width: 768px) {
    header {
        padding: 0 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .logo {
        padding: 0 20px;
    }

    header .menu {
        display: none;
    }

    header .menu ul {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        top: 110px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #3F2065;
        padding: 0 20px;
        transition: all 0.3s ease-in-out;
    }

    header .menu ul li {
        margin: 20px 0;
    }

    header .menu ul li a {
        font-size: 1.5rem;
    }

    header .menu ul li a:hover {
        color: #fff;
    }

    header .menu ul li a:active {
        color: #fff;
    }

    header .menu ul li a:focus {
        color: #fff;
    }

    header .menu ul li a:visited {
        color: #fff;
    }

    header .menu ul li a:link {
        color: #fff;
    }

    header .menu ul li a:target {
        color: #fff;
    }
}