/* --- MAIN --- */
main {
    width: 100%;
    min-height: calc(100vh - 220px);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 50px 150px 0 150px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .titulo {
    width: 100%;
    display: block;
    margin-bottom: 40px;    
}

.container .titulo h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.container .titulo hr {
    width: 100%;
    height: 5px;
    background: var(--Linha-degrade, linear-gradient(90deg, #1D0259 39.17%, rgba(29, 2, 89, 0.00) 98.95%));
    border: none;
}

.conteudo-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-bottom: 50px;
    align-items: start;
}

.conteudo-container .texto {
    width: 100%;
    display: block;
}

.conteudo-container p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Texto-primario, #000000);
}

.conteudo-container .imagem {
    width: 100%;
    display: block;
    max-width: 600px;
}

.conteudo-container .imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.button-patologias {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
    background: linear-gradient(245deg, #882988 19.02%, #3F2065 101.19%);
    color: #fff;
    padding: 20px 50px;
    font-size: 2rem;
    border: none;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}

.button-patologias:hover {
    cursor: pointer;
    background: linear-gradient(245deg, #882988 19.02%, #3F2065 101.19%);
    color: #000;
}

.integrante {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.integrante .imagem {
    width: 100%;
    display: block;
    max-width: 90px;
}

.conteudo-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.square {
    width: 20px;
    height: 20px;
}

.patoimage {
    position: relative;
}

.patoimage::after {
    content: 'Clique na imagem!';
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #3F2065; /* Cor de fundo do ícone */
    color: #fff; /* Cor do texto do ícone */
    padding: 5px; /* Espaçamento interno do ícone */
    font-size: 14px; /* Tamanho inicial da fonte do ícone */
    cursor: pointer;
    animation: pulse 1.5s infinite alternate; /* Adiciona animação de pulsação */
}

@keyframes pulse {
    from {
        border: 2px solid #3F2065; 
    }
    to {
        border: 2px solid #fff;
    }
}

@media (max-width: 1400px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagem {
        width: 100%;
        max-width: 600px;
        justify-content: center;
        margin: 0 auto;
    }

    .conteudo-container {
        grid-template-columns: 1fr;
    }

    .integrante {
        flex-direction: column;
    }

    .conteudo-left {
        margin-bottom: 50px;
    }
}

/* smartphone*/
@media (max-width: 768px) {
    main {
        padding: 50px 20px 0 20px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagem {
        width: 100%;
        max-width: 600px;
        justify-content: center;
        margin: 0 auto;
    }

    .conteudo-container {
        grid-template-columns: 1fr;
    }

    .integrante {
        flex-direction: column;
    }

    .conteudo-left {
        margin-bottom: 50px;
    }
}
